* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

:root {
  background: #121212;
  font-family: Nunito, sans-serif;
}

#app {
  margin: 20px auto;
  width: fit-content;
  border: 1px solid #121212;
}

canvas {
  
}

.controls {
  user-select: none;
  width: 500px;
  margin: 0 auto;
  text-align: center;
}

.btn {
  display: inline-block;
  cursor: pointer;
  margin: 20px auto;
  width: 20px;
  height:20px;
}
.btn img {
  width: 100%;
}